!!!
%html
  %head
    %meta{ :name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0" }
    %title Sleigo
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico"
  %body
    = render "shared/nav_bar"
    = yield
    = render "shared/footer"
